=begin
#Plastiq Public API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 5.2.0

=end

require 'cgi'

module OpenapiClient
  class PaymentsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Retrieve a single Payment Intent
    # @param payer_id [String] The Payer ID of the Payment Intent
    # @param id [String] The ID of the Payment Intent
    # @param [Hash] opts the optional parameters
    # @return [PaymentIntent]
    def payment_intents_id_get(payer_id, id, opts = {})
      data, _status_code, _headers = payment_intents_id_get_with_http_info(payer_id, id, opts)
      data
    end

    # Retrieve a single Payment Intent
    # @param payer_id [String] The Payer ID of the Payment Intent
    # @param id [String] The ID of the Payment Intent
    # @param [Hash] opts the optional parameters
    # @return [Array<(PaymentIntent, Integer, Hash)>] PaymentIntent data, response status code and response headers
    def payment_intents_id_get_with_http_info(payer_id, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PaymentsApi.payment_intents_id_get ...'
      end
      # verify the required parameter 'payer_id' is set
      if @api_client.config.client_side_validation && payer_id.nil?
        fail ArgumentError, "Missing the required parameter 'payer_id' when calling PaymentsApi.payment_intents_id_get"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling PaymentsApi.payment_intents_id_get"
      end
      # resource path
      local_var_path = '/payment-intents/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'payerId'] = payer_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PaymentIntent'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"PaymentsApi.payment_intents_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PaymentsApi#payment_intents_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a Payment Intent
    # @param id [String] The ID of the Payment Intent
    # @param patch_payment_intent_request_payload [PatchPaymentIntentRequestPayload] Payment Intent to update
    # @param [Hash] opts the optional parameters
    # @return [PaymentIntent]
    def payment_intents_id_patch(id, patch_payment_intent_request_payload, opts = {})
      data, _status_code, _headers = payment_intents_id_patch_with_http_info(id, patch_payment_intent_request_payload, opts)
      data
    end

    # Update a Payment Intent
    # @param id [String] The ID of the Payment Intent
    # @param patch_payment_intent_request_payload [PatchPaymentIntentRequestPayload] Payment Intent to update
    # @param [Hash] opts the optional parameters
    # @return [Array<(PaymentIntent, Integer, Hash)>] PaymentIntent data, response status code and response headers
    def payment_intents_id_patch_with_http_info(id, patch_payment_intent_request_payload, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PaymentsApi.payment_intents_id_patch ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling PaymentsApi.payment_intents_id_patch"
      end
      # verify the required parameter 'patch_payment_intent_request_payload' is set
      if @api_client.config.client_side_validation && patch_payment_intent_request_payload.nil?
        fail ArgumentError, "Missing the required parameter 'patch_payment_intent_request_payload' when calling PaymentsApi.payment_intents_id_patch"
      end
      # resource path
      local_var_path = '/payment-intents/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(patch_payment_intent_request_payload)

      # return_type
      return_type = opts[:debug_return_type] || 'PaymentIntent'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"PaymentsApi.payment_intents_id_patch",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PaymentsApi#payment_intents_id_patch\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a Payment Intent
    # @param create_payment_intent_request_payload [CreatePaymentIntentRequestPayload] Create a Payment Intent object staging it for execution
    # @param [Hash] opts the optional parameters
    # @option opts [String] :trace_id A valid UUID (V4) for tracing requests. Will be returned as a header. If not present or invalid, a generated UUID will be returned.
    # @option opts [String] :user_agent A string representing the User Agent. Required only when the request is not coming from the end user&#39;s browser.
    # @option opts [String] :end_user_device_id A unique identifier for the end user&#39;s browser. Recommended for compliance when the request is not coming from the end user&#39;s browser.
    # @option opts [String] :end_user_ip The IP address of the end user. Recommended for compliance when the request is not coming from the end user&#39;s browser.
    # @return [PaymentIntent]
    def payment_intents_post(create_payment_intent_request_payload, opts = {})
      data, _status_code, _headers = payment_intents_post_with_http_info(create_payment_intent_request_payload, opts)
      data
    end

    # Create a Payment Intent
    # @param create_payment_intent_request_payload [CreatePaymentIntentRequestPayload] Create a Payment Intent object staging it for execution
    # @param [Hash] opts the optional parameters
    # @option opts [String] :trace_id A valid UUID (V4) for tracing requests. Will be returned as a header. If not present or invalid, a generated UUID will be returned.
    # @option opts [String] :user_agent A string representing the User Agent. Required only when the request is not coming from the end user&#39;s browser.
    # @option opts [String] :end_user_device_id A unique identifier for the end user&#39;s browser. Recommended for compliance when the request is not coming from the end user&#39;s browser.
    # @option opts [String] :end_user_ip The IP address of the end user. Recommended for compliance when the request is not coming from the end user&#39;s browser.
    # @return [Array<(PaymentIntent, Integer, Hash)>] PaymentIntent data, response status code and response headers
    def payment_intents_post_with_http_info(create_payment_intent_request_payload, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PaymentsApi.payment_intents_post ...'
      end
      # verify the required parameter 'create_payment_intent_request_payload' is set
      if @api_client.config.client_side_validation && create_payment_intent_request_payload.nil?
        fail ArgumentError, "Missing the required parameter 'create_payment_intent_request_payload' when calling PaymentsApi.payment_intents_post"
      end
      # resource path
      local_var_path = '/payment-intents'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])
      header_params[:'Trace-Id'] = opts[:'trace_id'] if !opts[:'trace_id'].nil?
      header_params[:'User-Agent'] = opts[:'user_agent'] if !opts[:'user_agent'].nil?
      header_params[:'End-User-Device-Id'] = opts[:'end_user_device_id'] if !opts[:'end_user_device_id'].nil?
      header_params[:'End-User-Ip'] = opts[:'end_user_ip'] if !opts[:'end_user_ip'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_payment_intent_request_payload)

      # return_type
      return_type = opts[:debug_return_type] || 'PaymentIntent'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"PaymentsApi.payment_intents_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PaymentsApi#payment_intents_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve a paginated list of payments by query parameter(s)
    # @param payer_id [String] The associated Payer ID to list payments for
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :offset The number of records you wish to skip before selecting records
    # @option opts [Integer] :limit Number of items to return
    # @return [InlineResponse2002]
    def payments_get(payer_id, opts = {})
      data, _status_code, _headers = payments_get_with_http_info(payer_id, opts)
      data
    end

    # Retrieve a paginated list of payments by query parameter(s)
    # @param payer_id [String] The associated Payer ID to list payments for
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :offset The number of records you wish to skip before selecting records
    # @option opts [Integer] :limit Number of items to return
    # @return [Array<(InlineResponse2002, Integer, Hash)>] InlineResponse2002 data, response status code and response headers
    def payments_get_with_http_info(payer_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PaymentsApi.payments_get ...'
      end
      # verify the required parameter 'payer_id' is set
      if @api_client.config.client_side_validation && payer_id.nil?
        fail ArgumentError, "Missing the required parameter 'payer_id' when calling PaymentsApi.payments_get"
      end
      # resource path
      local_var_path = '/payments'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'payerId'] = payer_id
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'InlineResponse2002'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"PaymentsApi.payments_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PaymentsApi#payments_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve a single Payment
    # @param payer_id [String] The Payer ID associated with the Payment
    # @param id [String] The ID of the Payment
    # @param [Hash] opts the optional parameters
    # @return [Payment]
    def payments_id_get(payer_id, id, opts = {})
      data, _status_code, _headers = payments_id_get_with_http_info(payer_id, id, opts)
      data
    end

    # Retrieve a single Payment
    # @param payer_id [String] The Payer ID associated with the Payment
    # @param id [String] The ID of the Payment
    # @param [Hash] opts the optional parameters
    # @return [Array<(Payment, Integer, Hash)>] Payment data, response status code and response headers
    def payments_id_get_with_http_info(payer_id, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PaymentsApi.payments_id_get ...'
      end
      # verify the required parameter 'payer_id' is set
      if @api_client.config.client_side_validation && payer_id.nil?
        fail ArgumentError, "Missing the required parameter 'payer_id' when calling PaymentsApi.payments_id_get"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling PaymentsApi.payments_id_get"
      end
      # resource path
      local_var_path = '/payments/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'payerId'] = payer_id

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Payment'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"PaymentsApi.payments_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PaymentsApi#payments_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Refund or cancel an existing Payment
    # @param id [String] The ID of the Payment to refund
    # @param payment_refund_request [PaymentRefundRequest] Payment Refund body
    # @param [Hash] opts the optional parameters
    # @option opts [String] :trace_id A valid UUID (V4) for tracing requests. Will be returned as a header. If not present or invalid, a generated UUID will be returned.
    # @return [PaymentRefund]
    def payments_id_refunds_post(id, payment_refund_request, opts = {})
      data, _status_code, _headers = payments_id_refunds_post_with_http_info(id, payment_refund_request, opts)
      data
    end

    # Refund or cancel an existing Payment
    # @param id [String] The ID of the Payment to refund
    # @param payment_refund_request [PaymentRefundRequest] Payment Refund body
    # @param [Hash] opts the optional parameters
    # @option opts [String] :trace_id A valid UUID (V4) for tracing requests. Will be returned as a header. If not present or invalid, a generated UUID will be returned.
    # @return [Array<(PaymentRefund, Integer, Hash)>] PaymentRefund data, response status code and response headers
    def payments_id_refunds_post_with_http_info(id, payment_refund_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PaymentsApi.payments_id_refunds_post ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling PaymentsApi.payments_id_refunds_post"
      end
      # verify the required parameter 'payment_refund_request' is set
      if @api_client.config.client_side_validation && payment_refund_request.nil?
        fail ArgumentError, "Missing the required parameter 'payment_refund_request' when calling PaymentsApi.payments_id_refunds_post"
      end
      # resource path
      local_var_path = '/payments/{id}/refunds'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])
      header_params[:'Trace-Id'] = opts[:'trace_id'] if !opts[:'trace_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(payment_refund_request)

      # return_type
      return_type = opts[:debug_return_type] || 'PaymentRefund'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"PaymentsApi.payments_id_refunds_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PaymentsApi#payments_id_refunds_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a Payment from a Payment Intent
    # @param create_payment_request [CreatePaymentRequest] Payment to create
    # @param [Hash] opts the optional parameters
    # @option opts [String] :trace_id A valid UUID (V4) for tracing requests. Will be returned as a header. If not present or invalid, a generated UUID will be returned.
    # @option opts [String] :user_agent A string representing the User Agent. Required only when the request is not coming from the end user&#39;s browser.
    # @option opts [String] :end_user_device_id A unique identifier for the end user&#39;s browser. Recommended for compliance when the request is not coming from the end user&#39;s browser.
    # @option opts [String] :end_user_ip The IP address of the end user. Recommended for compliance when the request is not coming from the end user&#39;s browser.
    # @option opts [String] :idempotency_key A valid UUID (V4) for handling duplicate requests. Will return original status code, response body, and set a &#39;Idempotent-Replay&#39; header on response for a given key if a match exists.
    # @return [Payment]
    def payments_post(create_payment_request, opts = {})
      data, _status_code, _headers = payments_post_with_http_info(create_payment_request, opts)
      data
    end

    # Create a Payment from a Payment Intent
    # @param create_payment_request [CreatePaymentRequest] Payment to create
    # @param [Hash] opts the optional parameters
    # @option opts [String] :trace_id A valid UUID (V4) for tracing requests. Will be returned as a header. If not present or invalid, a generated UUID will be returned.
    # @option opts [String] :user_agent A string representing the User Agent. Required only when the request is not coming from the end user&#39;s browser.
    # @option opts [String] :end_user_device_id A unique identifier for the end user&#39;s browser. Recommended for compliance when the request is not coming from the end user&#39;s browser.
    # @option opts [String] :end_user_ip The IP address of the end user. Recommended for compliance when the request is not coming from the end user&#39;s browser.
    # @option opts [String] :idempotency_key A valid UUID (V4) for handling duplicate requests. Will return original status code, response body, and set a &#39;Idempotent-Replay&#39; header on response for a given key if a match exists.
    # @return [Array<(Payment, Integer, Hash)>] Payment data, response status code and response headers
    def payments_post_with_http_info(create_payment_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PaymentsApi.payments_post ...'
      end
      # verify the required parameter 'create_payment_request' is set
      if @api_client.config.client_side_validation && create_payment_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_payment_request' when calling PaymentsApi.payments_post"
      end
      # resource path
      local_var_path = '/payments'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])
      header_params[:'Trace-Id'] = opts[:'trace_id'] if !opts[:'trace_id'].nil?
      header_params[:'User-Agent'] = opts[:'user_agent'] if !opts[:'user_agent'].nil?
      header_params[:'End-User-Device-Id'] = opts[:'end_user_device_id'] if !opts[:'end_user_device_id'].nil?
      header_params[:'End-User-Ip'] = opts[:'end_user_ip'] if !opts[:'end_user_ip'].nil?
      header_params[:'Idempotency-Key'] = opts[:'idempotency_key'] if !opts[:'idempotency_key'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_payment_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Payment'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"PaymentsApi.payments_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PaymentsApi#payments_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
